#card-message-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#card-message-options h1 {
    text-align: center;
}

#message-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.30em;
}

#card-message-options .btn {
    align-self: flex-end;

    margin-top: 1em;

    font-size: 0.8em;
    color: #fff;
}